.title {
  text-align: center;
  font-size: 250px;
  margin: 0;
}

.subTitle {
  text-align: center;
  font-size: 50px;
  margin: 0;
  text-transform: uppercase;
}

.buttonContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  margin-top: 50px;
}
